# wildcards
.deps
.dirstamp
.libs
*.la
*.lo
*.o
# specific files
/aclocal.m4
/autom4te.cache/
/autoscan.log
/busybee-bench-mta
/busybee-bench-st
/busybee.pc
/busybee.upack
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/destdir/
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/stamp-h1
/test/bouncing-client
/test/bouncing-server
